.profile__button-edit {
  min-width: 24px;
  height: 24px;
  align-self: center;
  background-color: #000;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border: 1px solid #fff;
  padding: 0;
  cursor: pointer;
  margin-right: 2px;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
