.cards {
  max-width: 68.8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  margin: 51px auto 0;
}

@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .cards {
    max-width: 88%;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
  }
}
