.popup__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  max-width: 430px;
  background-color: #fff;
  color: #000;
  padding: 34px 36px 37px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.popup__container.popup__tooltip {
  padding: 60px 36px;
}

@media screen and (max-width: 620px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
@media screen and (max-width: 425px) {
  .popup__container.popup__tooltip {
    padding: 50px 18px;
  }
}
