.profile__button-add {
  min-width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #000;
  align-self: center;
  margin-left: auto;
  background-image: url(../../../images/pensil.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__button-add {
    width: 100%;
    margin: 32px auto 0;
    background-size: 16px;
  }
}
